@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Recipe Finder</h1>
    <p>Upload a photo of the dish and we will send you the recipe</p>

    <img src="https://miro.medium.com/max/1100/1*-ganvHfXEbn6oYk-krRpIg.webp">
</div>
