@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Recipe Finder</h1>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <a href="/Home/Upload"><img src="https://raw.githubusercontent.com/Majkel572/AzureRecipeFinder/mobile-app/app/src/debug/res/drawable/logo_color.png" class="w3-circle"></a>
</div>